<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "stlang.item.weapon.attackroll"}}</th>
                <th>{{localize "stlang.item.weapon.attackbonus"}}</th>
                <th>{{localize "stlang.item.weapon.damageroll"}}</th>
                <th>{{localize "stlang.item.weapon.damagebonus"}}</th>
                <th>{{localize "stlang.item.weapon.primarydamagetype"}}</th>
                <th>{{localize "stlang.item.weapon.secondarydamagetype"}}</th>
                <th>{{localize "stlang.item.weapon.range"}}</th>
                <th>{{localize "stlang.item.weapon.customization"}}</th>
                <th>{{localize "stlang.item.weapon.material"}}</th>
                <th>{{localize "stlang.item.weapon.size"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.modifier.die" type="text" value="{{data.modifier.die}}"/>
                </td>
                <td>
                    <select name="data.modifier.core">
                        {{#select data.modifier.core}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.damage.die" type="text" value="{{data.damage.die}}" />
                </td>
                <td>
                    <select name="data.damage.core">
                        {{#select data.damage.core}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.damage.primarytype">
                        {{#select data.damage.primarytype}}
                        {{#each config.damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.damage.secondarytype">
                        {{#select data.damage.secondarytype}}
                        {{#each config.damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.range" type="text" value="{{data.range}}" />
                </td>
                <td>
                    <select name="data.customization.name">
                        {{#select data.customization.name}}
                        {{#each config.customization as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.material.name">
                        {{#select data.material.name}}
                        {{#each config.materials as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.size.name">
                        {{#select data.size.name}}
                        {{#each config.sizes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        <textarea name="data.base.description">{{data.base.description}}</textarea>
    </div>
</form>
